<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>The {{ brand.getName }} Brand Page</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <h4><a href="/">Home</a> |
                <a href="/all_stores">Stores</a> |
                <a href="/all_brands">Brands</a> </h4>
        </div>
    </nav>
    <div class="container">
        <h1>{{ brand.getName }} <em>brand shoes</em></h1>

        <form action="/brand/{{ brand.getId }}/add_store" method="post">
            <div class="form-group">
                <label for="store">Add a store listing</label>
                <input type="text" name="store" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">List it</button>
        </form>

        {% if stores is not empty %}
            <h4>We are proud to be stocked in these stores</h4>
            {% for store in stores %}
                <ul>
                    <li><a href="/store/{{ store.getId }}">{{ store.getName }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
            <h4>There are no stores carrying this brand yet</h4>
        {% endif %}
    </div>
</body>
</html>
