<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>The {{ store.getName }} Store Page</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <h4><a href="/">Home</a> |
                <a href="/all_stores">Stores</a> |
                <a href="/all_brands">Brands</a> </h4>
        </div>
    </nav>
    <div class="container">
        <h1><em>The</em> {{ store.getName }} <em>Store</em></h1>

        <form action="/store/{{ store.getId }}/add_brand" method="post">
            <div class="form-group">
                <label for="brand">Enter a brand</label>
                <input type="text" name="brand" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add Brand</button>
        </form>



        {% if brands is not empty %}
            <h4>We are proud to carry these brands:</h4>
            {% for brand in brands %}
                <ul>
                    <li><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
            <h4>This store carries no brands yet</h4>
        {% endif %}
    </div>
</body>
</html>
